  <div style="text-align:right">
      {{request.session.univ}}기숙사생 {{request.session.id}}님 안녕하세요!
      <button id= "logout" onclick="logout();"> logout </button><br>
    <a href="{% url 'home:home'%}" title="홈으로 돌아가기">홈</a>
    <a href="{% url 'mypage:myinfo'%}" title="마이페이지">마이페이지</a>
    <a href="{% url 'notice:showpostlist'%}" title="공지사항">공지사항</a>
    <a href="{% url 'help:showpostlist'%}"  title="체리야 도와줘">체리야 도와줘</a>
  </div>
  <script>
      function logout(){
        location = '{% url 'home:logout' %}'
      }
  </script>