<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Chemistrry: notice</title>
    </head>

    <body>
        {% include 'navi.html'%}
        <div id="contents">
            <h1>공지사항 글쓰기</h1>
            <form method="post" action="postinsert">
              {% csrf_token %}
                <fieldset>
                    <legend>공지사항</legend>
                    <p>
                        <label for="title">
                            제목 :
                        </label>
                        <input type="text" name="title" id="title" >
                    </p>
                    <p>작성내용 :</p>
                    <label for="post_content"></label>
                    <textarea name="post_content" id="post_content" cols="30" rows="10" placeholder=""></textarea>
                    <p>
                        <input type="submit" id="wrtBtn" value="등록">
                        <input type="button" value="목록" id="listBtn">
                    </p>
                    </fieldset>
            </form>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script>
                $(function(){
                    $('#listBtn').click(function(){
                        location = '/notice/showpostlist';
                    });
                });
            </script>
        </div>
        <div id="footer"></div>
    </body>
</html>