<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Chemistrry: notice</title>
        {% include 'navi.html'%}

        <style>
            table {
                margin-right:auto;
                margin-left:auto;
            }
        </style>
            <a href="{% url 'mypage:myinfo' %}">내정보</a>
            <a href="{% url 'mypage:mypost' %}">내가쓴글/댓글</a>
            <h1>My Reply</h1>
            <a href="{% url 'mypage:mypost' %}">내가쓴 글</a>
            <a href="{% url 'mypage:myreply' %}">내가쓴 댓글</a>
    </head>
<body>
                <form method="post" action=""> <!-- action을 비워두면 자기 자신한테 간다.-->
                    {% csrf_token %}
                    <table class="table table-striped" style="text-align:center">
                        <thead class="thead-dark">
                            <tr>
                                    <td>게시판어디</td>
                                    <td>글번호</td> <!-- 이름을 누르면 이름의 idx를 담아서 detail로 이동-->
                                    <td>제목</td>
                                    <td>리플내용</td>
                                    <td>작성시간</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for hang in mypage_list %}

                            <tr>


                                <td>{{hang.0}}</td>
                                {% if hang.0 == '공지사항' %}
                                <td><a href="{% url 'hang.0:showpostdetail' post_seq=hang.1%}">{{hang.1}}</a></td>
                                {% else %}
                                <td><a href="{% url 'hang.0:showpostdetail' post_seq=hang.1%}">{{hang.1}}</a></td>
                                {% endif %}
                                <td>{{hang.2}}</td>
                                <td>{{hang.3}}</td>
                                <td>{{hang.4}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="5" class="text-center"><!--TODO: notice pagenate--></th>
                            </tr>
                            <tr>
                                <th colspan="5" class="text-center">
                                    <input type="hidden" name="cur_page" value="{{addr_list.number}}">
                                    <input type="text" name="searchValue" id="searchValue">
                                    <input type="submit" value="search">
                                    <input type="button" style="float:right" value="전체 목록" id="addrListBtn" >
                                </th>
                            </tr>
                            <tr>
                                <th colspan="5" class="text-center">
                                    <input type="button" value="글쓰기" id="wrtBtn" name="wrtBtn">
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </form>
</body>
</html>