<div>

  <table>
    댓글 {{reply_count.0}} 개
                {% for hang in reply_detail %}
                <tr>
                    <td>{{hang.0}}</td>
                </tr>
                <tr>
                    <td>                          </td>
                    <td>{{hang.1}}</td>
                    <td><input type="button" name="update" value="수정"></td>
                    <td><input type="button" name="delete" value="삭제"></td>
                </tr>
                {% endfor %}
  </table>
      <textarea name="reply" id="reply" rows="5" style="resize:none;width:100%"></textarea>
      <input type="button" id="replyWrtBtn" name="replyWrtBtn" value="댓글쓰기" style="text-align:right">
</div>