<div>
    <table>
        {% for hang in reply_detail %}
        <tr>
            <td><input id="reply_content" value="{{hang.0}}" readonly></td>
            <td>{{hang.1}}</td>
            <td>{{hang.2}}</td>
            <td><input type="button" id="delete" value="삭제" onclick="location.href='{% url 'reply:delete_reply' reply_seq=hang.3 post_seq=post_seq%}'"></td>
        </tr>
        {% endfor %}
    </table>
    <form method="post" action="{% url 'reply:reply_write' post_seq=post_seq %}">
        {% csrf_token %}
        <textarea name="reply_comment" id="reply_comment" rows="5" style="resize:none;width:100%"></textarea>
        <input type="submit" value="댓글쓰기" style="text-align:right">
    </form>
</div>