{% include "header.html" %}
<div id="contents">
    <h2>게시글 등록 </h2>
    <form method="post" name="form1" id="form1" enctype="multipart/form-data">

      {% csrf_token %}
        <div align="left">
<fieldset>
<legend></legend>

    <select>
        <option value="None" >말머리선택</option>

        <option value="buy">팝니다</option>
        <option value="sell">삽니다</option>
    </select>
<p>
<label for="title">
        제목 :
    </label>
    <input type="text" name="title" id="title" >
</p>
 <label for="price">
        가격 :
    </label>
    <input type="text" name="price" id="price" placeholder="가격제시">
</p>
<p>
<label for="content">
    </label>
     <textarea name="content" id="content" cols="30" rows="20"  placeholder="내용을 입력해주세요"></textarea>

</p>
<p>
<label for="file1">
        상품 이미지 :
    </label>
    <input type="file" name="file1" id="file1">
</p>
<p><input type="button" id="wrtBtn" value="등록">&nbsp;
<input type="button" value="목록" id="listBtn">
</p>
</fieldset>
</div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(function(){
        $('#wrtBtn').click(function(){
            document.form1.action='bb_insert'
            document.form1.submit()
        });
    });

</script>
    </form>
</div>
<div id="footer"></div>
</body>
</html>