<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>도와주세요게시판</title>
    <link type="text/css" href="/css/container.article.css" rel="stylesheet">
</head>
<body>
    <h2 class="text-center">자유게시판</h2>
<!--    <div class="row1">-->
<!--        <form method="post" action="help_write">-->
<!--            {% csrf_token %}-->
<!--            <table class="table table-striped table-bordered">-->
<!--        <tbody>-->
<!--        <dl>-->
<!--           <dt>제목</dt>-->
<!--           <dd>내용</dd>-->
<!--           <span>작성시간</span>-->
<!--           <span>닉네임</span>-->
<!--           <hr />-->
<!--       </dl>-->

<!--                </tbody>-->
<!--                <tfoot>-->
<!--                <tr>-->

<!--                </tr>-->
<!--                <tr>-->
<!--                    <th colspan="5" class="text-center">-->

<!--                        <input type="submit" value="글쓰기">-->
<!--                    </th>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <th colspan="5" class="text-center">-->

<!--                    </th>-->
<!--                </tr>-->
<!--                </tfoot>-->
<!--            </table>-->
<!--        </form>-->
<!--    </div>-->

<article>
	<a class="article" href="/377392/v/227189837">
	<h2 class="medium">대면일라나 비대면일라나</h2>
	<p class="small">궁금하규만</p>
	<time class="small">방금</time>
	<h3 class="small">익명</h3>
		<ul class="status">
			<li title="공감" class="vote">0</li>
			<li title="댓글" class="comment">0</li>
		</ul>
	<hr>
	<input type="hidden" name="227189837_comment_anonym" value="0">
	</a>
	<div class="comments">
	</div>
</article>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

</script>
</body>
</html>