<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>도와주세요게시판</title>
    <link type="text/css" href="/static/css/container.article.css" rel="stylesheet">
	<style>
ul{
   list-style:none;
   }
</style>
</head>
<body style>
<div id="container" class="article">
	<div class="wrap articles">
<article>
	<a class="article" href="/377392/v/227189837">
	<h2 class="medium">대면일라나 비대면일라나</h2>
	<p class="small">궁금하규만</p>
	<time class="small">방금</time>
	<h3 class="small">익명</h3>
		<ul class="status">

			<li title="공감" class="vote">0</li>
			<li title="댓글" class="comment">0</li>
		</ul>
	<hr>
	<input type="hidden" name="227189837_comment_anonym" value="0">
	</a>
</article>
<article>
	<a class="article" href="/377392/v/227189837">
	<h2 class="medium">대면일라나 비대면일라나</h2>
	<p class="small">궁금하규만</p>
	<time class="small">방금</time>
	<h3 class="small">익명</h3>
		<ul class="status">
			<li title="공감" class="vote">0</li>
			<li title="댓글" class="comment">0</li>
		</ul>
	<hr>
	<input type="hidden" name="227189837_comment_anonym" value="0">
	</a>
</article>
		</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

</script>
</body>
</html>