<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>공지사항 게시판 화면</title>
</head>
<body>
<div id="content">
    <h2 class="text-center">주소록 Total : {{address_count}} </h2>
    <div class="row1">
        <form method="post" action="notice_write">
            {% csrf_token %}
            <table class="table table-striped table-bordered">
                <thead class="table-warning">
                <li data-v-f077870a=""><a data-v-f077870a="" href="/club/view?id=16543" class="item">
<span data-v-f077870a="" class="dday active"> D-7</span>
<div data-v-f077870a="" class="profile">
<figure data-v-f077870a="" class="picture" style="background-image: url(&quot;https://cf-cpi.campuspick.com/club/1642741701748928.jpg&quot;);"></figure>
 <span data-v-f077870a="" class="name">📚책 읽기로 리드하라</span>
</div>
 <hr data-v-f077870a=""> <span data-v-f077870a="" class="viewcount">35</span>
 <h3 data-v-f077870a="" class="light">📚책 읽기로 리드하라-추가모집‼️</h3>
</a>
</li>
<!--                <tr>-->
<!--                    <th scope="col">번호</th>-->
<!--                    <th scope="col">이름</th>-->
<!--                    <th scope="col">전화번호</th>-->
<!--                    <th scope="col">이메일</th>-->
<!--                    <th scope="col">주소</th>-->
<!--                </tr>-->
                </thead>
                <tbody>
                {% for e in addr_list %}
                <tr>
                    <td>{{e.idx}}</td>
                    <td><a href="detail?idx={{e.idx}}">{{e.name}}</a></td>
                    <td>{{e.tel}}</td>
                    <td>{{e.email}}</td>
                    <td>{{e.address}}</td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>

                </tr>
                <tr>
                    <th colspan="5" class="text-center">

                        <input type="submit" value="글쓰기">
                    </th>
                </tr>
                <tr>
                    <th colspan="5" class="text-center">

                    </th>
                </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

</script>
</body>
</html>