<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="content">
    <h2> 회원 가입 페이지 </h2>
    <form method="post" action="signup/memberInsert">
        {% csrf_token %}
        <div>
            <input type="text" name="id" id="id" placeholder="ID"> <!--해당 Text상자에 기본으로 띄워놓을 문구를 placeholder라고 한다. -->
            <input type="button" value="중복확인" id="IDchekBtn">
        </div>
        <div>
            <span id="target"></span>
        </div>
        <div>
            <input type="password" name="pwd" id="pwd" placeholder="비밀번호">
        </div>
        <div>
            <input type="text" name="name" id="name" placeholder="이름">
        </div>
        <div>
            <input type="text" name="nickname" id="nickname" placeholder="닉네임">
        </div>

        <div>
            <input type="submit" value="가입하기">
        </div>
    </form>
</div>
<div id="footer"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(function(){
        $('#IDchekBtn').click(function(){
            $.ajax({
                url:'memIDcheck?id='+$('#id').val(),
                success:function(data){
                    if (data == '0'){
                        $('#target').html('사용 가능한 아이디입니다.');
                        $('#target').css('color','blue');
                    }else{
                        $('#target').html('이미 사용 중인 아이디입니다.');
                        $('#target').css('color','red');
                    }
                }
            });
        })

        $('#nickchekBtn').click(function(){
            $.ajax({
                url:'memNickchk?id='+$('#id').val(),
                success:function(data){
                    if (data == '0'){
                        $('#target').html('사용 가능한 아이디입니다.');
                        $('#target').css('color','blue');
                    }else{
                        $('#target').html('이미 사용 중인 아이디입니다.');
                        $('#target').css('color','red');
                    }
                }
            });
        })
    });
</script>
</body>
</html>